<h2 id="bio">About</h2>

<p>
  Hi! My name is <strong>Zeman Li (李泽慢)</strong>. I am currently a student
  researcher at <strong>Google Research</strong> and a third-year Ph.D. student
  in the Industrial and Systems Engineering Department at the
  <strong>University of Southern California</strong>. I am fortunate to be
  advised by
  <a href="https://sites.usc.edu/razaviyayn/">Prof. Meisam Razaviyayn</a>.
</p>

<p>
  I received my first B.S. in Applied Mathematics at <strong>Emory
  University</strong> and my second B.S. in Computer Engineering at the
  <strong>Georgia Institute of Technology</strong>. During my time at Georgia
  Tech, I was fortunate to be advised by Prof. Xie Yao.
</p>

<h3>Research interests</h3>
<p>
  My research lies at the intersection of large-scale optimization and machine
  learning, with a focus on developing data-efficient methods for training
  foundation models, as well as privacy-preserving machine learning.
</p>

<h3>Contact</h3>
<ul>
  <li>Email: <code>zemanli [at] usc [dot] edu</code></li>
  <li><a href="https://drive.google.com/file/d/18fYOseyWsaAZ05uhMlkyaI7mVQ7mlqbW/view?usp=sharing">Curriculum Vitae (PDF)</a></li>
  <li><a href="https://scholar.google.com/citations?user=3cHbgQQAAAAJ">Google Scholar</a></li>
</ul>
