<h2>News</h2>
<ul class="news-list">
{% for item in site.data.news %}
  {%- comment -%}
    Parse "Nov 2025" / "Sep 2025" etc. into YYYY-MM. Liquid's
    date filter is unreliable on bare strings; case/when is the
    most idiomatic Liquid way to do this map. Falls through to
    plain <time> on unparseable strings.
  {%- endcomment -%}
  {%- assign date_parts = item.date | split: " " -%}
  {%- assign month_part = date_parts | first -%}
  {%- assign year_part = date_parts | last -%}
  {%- assign mn = nil -%}
  {%- case month_part -%}
    {%- when "Jan" -%}{%- assign mn = "01" -%}
    {%- when "Feb" -%}{%- assign mn = "02" -%}
    {%- when "Mar" -%}{%- assign mn = "03" -%}
    {%- when "Apr" -%}{%- assign mn = "04" -%}
    {%- when "May" -%}{%- assign mn = "05" -%}
    {%- when "Jun" -%}{%- assign mn = "06" -%}
    {%- when "Jul" -%}{%- assign mn = "07" -%}
    {%- when "Aug" -%}{%- assign mn = "08" -%}
    {%- when "Sep" -%}{%- assign mn = "09" -%}
    {%- when "Oct" -%}{%- assign mn = "10" -%}
    {%- when "Nov" -%}{%- assign mn = "11" -%}
    {%- when "Dec" -%}{%- assign mn = "12" -%}
  {%- endcase -%}
  <li data-reveal>
    {%- if mn -%}
      <time class="cv-when" datetime="{{ year_part }}-{{ mn }}">{{ item.date }}</time>
    {%- else -%}
      <time class="cv-when">{{ item.date }}</time>
    {%- endif -%}
    <span class="cv-what">{{ item.text }}</span>
  </li>
{% endfor %}
</ul>
